.wrapper {
	background: url(../../../../assets/downdocs.jpg) no-repeat center center / cover;
	height: max-content;
	padding: 5rem 0;

	.content {
		border: 1px solid #ffffff1a;
		padding: 3rem 2rem;
		border-radius: 40px;
		backdrop-filter: blur(7px);
		-webkit-backdrop-filter: blur(7px);
		background: rgba(255, 255, 255, 0.1);

		h1 {
			font-family: Manrope;
			font-size: 32px;
			font-weight: 600;
			line-height: 43.71px;
			text-align: center;
			color: white;
		}

		.downcardGroup {
			width: 65%;
			padding-top: 5rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 auto;
			gap: 2rem;

			// Адаптив для планшетов
			@media (max-width: 768px) {
				width: 90%;
				flex-direction: column;
				align-items: center;
				padding-top: 3rem;
			}

			// Адаптив для мобильных устройств
			@media (max-width: 480px) {
				width: 100%;
				padding-top: 2rem;
			}
		}

		.downcard {
			width: 20rem;
			display: flex;
			flex-direction: column;
			align-items: center;

			.inner {
				display: flex;
				gap: 2rem;
				align-items: center;
				padding-bottom: 2rem;

				h3 {
					font-family: Manrope;
					font-size: 20px;
					font-weight: 600;
					line-height: 27.32px;
					color: white;
				}
			}

			button {
				width: 100%;
				background: #fff;
				color: rgba(37, 99, 235, 1);
			}

			// Адаптив для мобильных устройств
			@media (max-width: 480px) {
				width: 100%;
				.inner {
					flex-direction: column;
					gap: 1rem;
					text-align: center;
				}

				button {
					width: 80%;
				}
			}
		}
	}
}
