.wrapper {
	background-color: #f9fafe;
	padding: 5rem 0;
	.title {
		font-family: Manrope;
		font-size: 32px;
		font-weight: 600;
		line-height: 43.71px;
		text-align: center;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;
		color: #000000;
		margin-bottom: 2rem;
	}
	.description {
		font-family: Manrope;
		font-size: 16px;
		font-weight: 500;
		line-height: 21.86px;
		text-align: center;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;
		color: #000000;
		padding: 1rem 2rem;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(3, minmax(300px, 1fr));
		gap: 20px;
	}

	.card {
		background: #ffffff;
		border-radius: 8px;
		padding: 20px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		text-align: center;
		transition: transform 0.3s ease, box-shadow 0.3s ease;

		&:hover {
			transform: translateY(-5px);
			box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
		}

		.iconWrapper {
			margin-bottom: 20px;
		}

		.icon {
			display: inline-block;
		}

		.cardTitle {
			font-family: Manrope;
			font-size: 16px;
			font-weight: 600;
			line-height: 21.86px;
			text-align: center;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			margin-bottom: 10px;
		}

		.description {
			font-size: 14px;
			color: #6b7280;
			line-height: 1.5;
		}
	}
}
