.wrapper {
  margin: 3rem 0;
  padding: 4rem 0;
  background: url(../../../../assets//section3bg.jpg) no-repeat center center/cover;
  width: 100%;

  .inner {
    background: rgb(37, 99, 235);
    background: radial-gradient(circle, rgba(37, 99, 235, 1) 0%, rgba(0, 40, 127, 1) 35%, rgba(9, 0, 75, 1) 100%);
    box-shadow: 11px 13px 0px 5px rgba(37, 99, 235, 0.85);
    height: 100%;
    padding: 5rem 0;
    border-radius: 40px;

    h1 {
      font-family: Manrope;
      font-size: 32px;
      font-weight: 600;
      line-height: 43.71px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: white;
    }
  }

  p {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    line-height: 27.32px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
    padding-top: 4rem;
  }

  @media (max-width: 1200px) {
    .inner {
      padding: 4rem 0;
      border-radius: 30px;
      margin-bottom: 1rem;
    }

    p {
      font-size: 18px;
      line-height: 24px;
      padding-top: 3rem;
    }
  }

  @media (max-width: 900px) {
    .inner {
      padding: 3rem 0;
      border-radius: 25px;
    }

    h1 {
      font-size: 28px;
      line-height: 38px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      padding-top: 2rem;
    }
  }

  @media (max-width: 600px) {
    .inner {
      padding: 2rem 0;
      border-radius: 20px;
    }

    h1 {
      font-size: 24px;
      line-height: 32px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      padding-top: 1.5rem;
    }
  }
}
