.wrapper{
    padding: 2rem 0;
}
.item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content{
    background: url(../../../../assets/carouselbg.jpg) no-repeat center center/cover;
    width: 100%;
    height: max-content;
}