.wrapper {
  padding: 4rem 1rem; // Добавляем отступы для мобильных устройств

  h1 {
    font-family: Manrope, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    color: #000000;
  }

  .cardGroup {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem; // Задаем расстояние между карточками
    padding: 3rem 0;

    .card {
      position: relative;
      background: #ffffff;
      border-radius: 15px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      padding: 2rem;
      text-align: center;

      .icon {
        margin: 0 auto 1rem;
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .title {
        font-family: Manrope, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.4;
        text-align: center;
        color: #000000;
      }

      .topAccent {
        position: absolute;
        width: 20px;
        height: 20px;
        background: #ffffff;
      }

      &.topLeft .topAccent {
        top: -5px;
        left: -5px;
        border-top: 5px solid #2563eb;
        border-left: 5px solid #2563eb;
        border-top-left-radius: 5px;
      }

      &.bottomRight .topAccent {
        bottom: -5px;
        left: -5px;
        border-bottom: 5px solid #2563eb;
        border-left: 5px solid #2563eb;
        border-bottom-left-radius: 5px;
      }

      &.topRight .topAccent {
        top: -5px;
        right: -5px;
        border-top: 5px solid #2563eb;
        border-right: 5px solid #2563eb;
        border-top-right-radius: 5px;
      }

      &.bottomLeft .topAccent {
        bottom: -5px;
        right: -5px;
        border-bottom: 5px solid #2563eb;
        border-right: 5px solid #2563eb;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
