.wrapper {
	padding: 5rem 0;
	h1 {
		font-family: Manrope;
		font-size: 32px;
		font-weight: 600;
		line-height: 43.71px;
		text-align: center;
		text-underline-position: from-font;
		text-decoration-skip-ink: none;
		color: #000000;
		margin-bottom: 2rem;
	}
	.card {
		width: 100%;
		padding: 2rem;
		height: auto;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		background-color: #fff;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
		.title {
			display: flex;
			gap: 2rem;
			align-items: center;
			margin-bottom: 2rem;
		}
		ul li {
			font-family: Manrope;
			font-size: 16px;
			font-weight: 600;
			line-height: 30.86px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #696969;
		}
	}
	.cardGroup{
		display: flex;
		justify-content: space-between;
		gap: 2rem;
	}
}
