.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3; // Цвет фона карточки
  border-radius: 12px; // Закругленные углы
  padding: 2.5rem 24px; // Внутренние отступы
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); // Легкая тень
  transition: transform 0.2s ease, box-shadow 0.2s ease; // Анимация при наведении
  cursor: pointer; // Указатель на ссылку

  &:hover {
    transform: translateY(-2px); // Поднятие при наведении
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); // Увеличение тени
  }

  .icon {
    width: 24px; // Размер иконки
    height: 24px;
    margin-right: 8px; // Отступ между иконкой и текстом
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%; // Изображение адаптируется под размеры контейнера
      height: 100%;
      object-fit: contain;
    }
  }

  .text {
    font-family: 'Manrope', sans-serif; // Шрифт
    font-size: 16px; // Размер текста
    font-weight: 500; // Полужирный
    color: #757575; // Цвет текста
  }
}
