.wrapper {
	background-color: #f9f9f9;

	.headerGroup {
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
	}

	.header {
		background: #ffffff;
		overflow: hidden;
		margin-bottom: 2rem;
	}

	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 3rem;
		gap: 2rem;

		.img {
			max-width: 100%;
			height: auto;
			border-radius: 10px;
		}
	}

	// Адаптация для планшетов и мобильных устройств
	@media (max-width: 768px) {
		.content {
			flex-direction: column;
			padding: 1.5rem;
			gap: 1.5rem;
		}

		// Изменение порядка элементов для второго блока
		.header:nth-child(2) .content {
			flex-direction: column-reverse;
		}

		.img {
			width: 100%;
			max-width: 100%;
		}
	}
}
