.wrapper{
    padding: 5rem 0;
    h1{
        font-family: Manrope;
font-size: 32px;
font-weight: 600;
line-height: 43.71px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: black;
padding-bottom: 1rem;
    }
    .card_group{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
        gap: 2rem;
    }
}