.wrapper{
    .content{
        background: url(../../../../assets/review.svg) no-repeat center center/cover;
        width: 100%;
        height: max-content;
        h1{
            font-family: Manrope;
font-size: 32px;
font-weight: 600;
line-height: 43.71px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: white;
        }
    }
}